extends layout.pug 

block content 
  ul(class='teamList')
    each team in teamData
      li(class="teamListItem") 
        - var url = team.image; 
        - var teamName = team.city + ' ' + team.name;
        img.logoSmall(src=url)
        a(href='/api/team/' + team.abbreviation)=teamName
