doctype html
html(lang="en")
  head
    title NBA Stats
    meta(name="viewport" content="width=device-width")
    meta(charset="UTF-8")
    link(rel="icon" href="https://res.cloudinary.com/munsch-creative/image/upload/v1533179839/basketball-icon_o25tay.png")
    link(rel="stylesheet", href="/static/stylesheets/normalize.css")
    link(rel="stylesheet", href="/static/stylesheets/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700")
  body
    include includes/header.pug
    block content
    include includes/footer.pug